.ChannelCard {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    height: 66px;
    position: relative;

    &.selected::before {
        content: "";
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -19px;
        right: -19px;
        background-color: #1B1B1B;
        z-index: -1;
    }
}

.imageWrapper {
    padding-block: 5px;
    background-color: #171A1F;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.info {
    display: flex;
    flex-direction: column;
    height: 95%;
    flex-grow: 1;
    gap: 4px;
    word-break: break-all;
    border-bottom: 1px solid #171A1F;
}

.channelName {
    font-size: 14px;
    font-weight: 500;
}

.lastMess {
    font-size: 12px;
    font-weight: 400;
    color: #878787;
}