.message {
   position: relative; /* Для позиционирования псевдоэлемента */
   font-size: 14px;
   border-radius: 16px;
   background: #111; /* Фон элемента */
}

.image {
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
}

.message.pinned {
   color: var(--accent-color);
}

.message.special {
   border-radius: 10px;
   background-color: #171A1F;
}

.message.my::before {
   content: '';
   position: absolute;
   inset: 0;
   margin: -1px;
   border-radius: inherit; /* Повторяет закругление родителя */
   background: linear-gradient(
      to right,
      #2f3542,
      #111111
   ); /* Градиентная рамка */
   z-index: -1; /* Помещаем градиент под содержимое */
}
.message.notmy::before {
   content: '';
   position: absolute;
   inset: 0;
   margin: -1px;
   border-radius: inherit; /* Повторяет закругление родителя */
   background: linear-gradient(
      to left,
      #2f3542,
      #111111
   ); /* Градиентная рамка */
   z-index: -1; /* Помещаем градиент под содержимое */
}
