.channels {
   position: fixed;
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   gap: 25px;
   align-items: center;
   margin-top: 12px;
   bottom: 16px;
   overflow-x: scroll;
}

.pad {
    height: 80px;

    &.color {
        background-color: #171A1F;
    }
}