.modal {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 21px 19px;
    background-color: #171A1F;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    width: 100%;
    transform: translateY(-100%);
    overflow-y: scroll;
    z-index: 0;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
}

.closeBtn {
    width: 34px;
    height: 34px;
    align-self: flex-end;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}