.homepage {
    padding: 19px 19px 0 19px;
}

.top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.icon {
    width: fit-content;
    border-radius: 8px;
    padding: 8px 9px;
    background-color: var(--accent-color);
}

.pinned {
    margin-bottom: 20px;
}

.filters {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    .filter {
        border-radius: 8px;
        min-width: 94px;
            min-height: 57px;
        padding: 11px;
        background-color: #171A1F;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        font-size: 12px;
        font-weight: 500;
    }
}

.switchFilter {
    position: absolute;
    right: 0;
    bottom: 50%;
    translate: 0 66%;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

