:root {
   --bg-color: #111;
   --text-color: #fff;
   --accent-color: #ffcc00;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   line-height: 1;
   font-family: 'Inter', sans-serif;
   color: var(--text-color);
   scrollbar-width: none;
}

*::-webkit-scrollbar {
   display: none !important;
}

body {
   background-color: var(--bg-color);
}
