.Users {
   padding: 20px 19px;
}

.table-container {
   width: 80%;
   max-width: 600px;
}

table {
   width: 100%;
   border-collapse: separate;
   border-spacing: 0 10px;
   background-color: transparent;
   border-radius: 10px;
   overflow: hidden;
}

thead {
   background-color: #171a1f;
}

th,
td {
   padding: 15px;
   text-align: left;
}

th {
   font-size: 14px;
   font-weight: 700;
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

tbody tr {
   background-color: #171a1f;
   border-bottom-left-radius: 10px;
}

tbody tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tbody tr td {
   font-size: 14px;
}

tbody tr td:last-child {
    text-align: center;
}