.Users {
   padding: 20px 19px;
}

.table-container {
   width: 80%;
   max-width: 600px;
}

.pageHeading {
   text-align: center;
   margin-bottom: 40px;
   font-size: 16px;
   font-weight: 600;
}

table {
   width: 100%;
   border-collapse: separate !important;
   border-spacing: 0 10px;
   background-color: transparent;
   border-radius: 10px;
   overflow: hidden;
}

thead {
   background-color: #171a1f;

}

th,
td {
   text-align: left;
}

th:first-child,
td:first-child {
   padding: 14px 0 14px 10px;
}

th {
   font-size: 14px;
   font-weight: 700;
}

th:first-child {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   
}

th:last-child {
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

tbody tr {
   background-color: #171a1f;
   border-bottom-left-radius: 10px;
}

tbody tr td:first-child {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
tbody tr td:last-child {
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

tbody tr td {
   font-size: 14px;
}