.ChannelsList {
    padding: 20px 19px 0 19px;
}

.top {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.addIcon {
    position: absolute;
    right: 0;
}

.list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}