.channel {
    width: 120px;
    min-height: 56px;
    background-color: #171a1f;
    border: 0;
    padding: 4px 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-shrink: 0;
    border: 2px solid transparent;

    &.current {
        background-color: #ffcc00;
        border: 2px solid #171a1f;
    }

    &.current span {
        color: #171a1f;
    }

    span {
        font-size: 13px;
        font-weight: 500;
        color: #ffcc00;
    }
}